* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // border: 1px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.56%;
  font-weight: 500;
  position: relative;
  background: #f7f5f2;
}